<!DOCTYPE html>
<html>
  <head>
    <title>Abram Ventures | Dallas Digital Ad Agency </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Barlow|Nunito+Sans" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">

  <a class="navbar-brand" href="/">
    <%= image_tag("/assets/AV - black alone.png",  alt: "AV Logo", style: " height: 25px; width: auto;") %>
 </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Agency</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Work</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div> -->
      </li>
    </ul>
  </div>
</div>
</nav>

<!-- HERO -->
<div class="jumbotron jumbotron-fluid hero-block">
  <div class="container">
    <h1 class="display-4 hero-title">Abram ventures is your digital advertising agency.
      <br>It’s our job to help brands stand out.</h1>
    <a class="btn btn-outline" href="mailto:trevor@abramventures.com?subject=Project%20Inquiry">Contact Us</a>
  </div>
</div>


<!-- PORTFOLIO WORK -->
<!-- <section class="section section-md bg-light">
  <div class="container bg-light">
    <h3 class="section-title">Recent Work</h3>
      <div class="flex-row">

        <div class="col-3">
          <div class="work-square">
            img
          </div>
        </div>

        <div class="col-3">
          <div class="work-square">
            img
          </div>
        </div>

        <div class="col-3">
          <div class="work-square">
            img
          </div>
        </div>

      </div>

  </div>
</section> -->

<!-- COMING SOON INFO -->
<section class="section section-md bg-light">
  <div class="container">
    <h2 class="section-title">Good things come to those who wait</h2>
    <p>Our new site is coming soon. In the mean time, we're busy creating value for brands like you.
        <br>Once we launch, expect to see a lot more from us.</p>
    <a href="#founder-message">Learn more from our founder</a>

  </div>
</section>

<!-- Specializations -->
<section class=" section section-md section-dark" id="Specializations">
  <div class="container">
    <h3 class="section-title title-white">Specializations</h3>

    <div class="flex-row">

      <div class="col-3">
        <div class="service-square" id="s-one">
          <h4 class="service-square-title title-white">Social Media Strategy</h4>
          <p class="service-square-subtitle">Increase awareness</p>
        </div>

        <div class="service-info-block">
          <p>The building blocks of what make your brand your own. People want to know you, follow you, and grow with you. They can only do that if they can find you first.</p>
        </div>
      </div>

      <div class="col-3">
        <div class="service-square" id="s-two">
          <h4 class="service-square-title title-white">Paid Media Strategy<h4>
          <p class="service-square-subtitle">Drive awareness</p>
        </div>

        <div class="service-info-block">
          <p>It's always more than just ads. We do a deep dive into your company to create and implement a creative strategy that meets the milestones you set. Creatively, we help you become known. More than ever.</p>
        </div>
      </div>

      <div class="col-3">
        <div class="service-square" id="s-three">
          <h4 class="service-square-title title-white">Web Development<h4>
          <p class="service-square-subtitle"> A True Digital Experience</p>
        </div>

        <div class="service-info-block">
          <p>Technology is powering both the online and offline worlds we work, play, and live in. From custom applications to strategic site designs, Abram Ventures will design, code, and measure your brand digitally.<p>
        </div>

      </div>

    </div>

  </div>
</section>


<!--  Message from our founder -->
<section class="section section-md" id="founder-message">
  <div class="container">
    <h3 class="section-title">A Message From Our Founder</h3>

    <div class="flex-row">
      <div class="col-3">
        <p>
        We’re all about helping brands that are forward-thinking and progressive. We pride ourselves on service and exceptional quality, never allowing either to become second to the other.
        It’s a beautiful marriage.
        <br>
        <br> Our goal is to provide advertising that shakes up the industry using tech, design, strategy, and marketing.
        <br>
        <br>Yes, we’re young and new.
        <br>That makes us work harder and better than the rest and we enjoy that.
        <br>
        <br>Clients can expect timeliness, respect to their budgets, and above all creativity from us.
        We strive to form lasting relationships instead of quick pickups, and allow strategy to guide all ventures.</p>
      </div>

      <div class="col-3">
        <p>
          We challenge the status quo with energetic campaigns. It’s our job (literally) to excite your customers in a way that promotes engaging personality on your behalf as well as our own.
          <br>
          <br>It’s what we believe in and strive to reach as a company goal everyday. We wake up excited to help build, change, and elevate brands.
          <br>
          <br>I do hope you join us as we turn 2018 into your best year yet.
          <br>
          <div>
            <%= image_tag("/assets/Founder-signature.png",  alt: "CEO Signature", class: "founder-image", style: " height: 65px; width: auto;") %>
          </div>
        </p>
      </div>

      <div class="col-3">
        <div class="founder-image-two">
          <%= image_tag("/assets/hand-imga.jpg",  alt: "image of a hand", style: " height: 319px; width: 100%;") %>
        </div>

      </div>
    </div>

  </div>

</section>

<section class="section section-md bg-light">
  <div class="container center">
      <h3 class="section-title">That's enough copy right?</h3>
      <a class="btn btn-primary"href="mailto:trevor@abramventures.com?subject=Project%20Inquiry">Work With Us</a>
  </div>
</section>
<footer class="section section-md">
<div class="container">
  <!-- <div class="flex-row">
    <div class="col-4">
      <h4>It's Us.</h4>

    </div>

    <div class="col-4">
      <h4>Social</h4>

    </div>

  </div> -->
  <h5  class="footer-title" style="display: block; ">Copyright 2018 Abram Ventures - A Dallas Digital Ad Agency. (New site coming soon.)</h5>
  <h5 class="footer-title">
    <a class="footer-link" href="https://instagram.com/abramventures" target="_blank">Instagram</a>
    <a class="footer-link" href="https://facebook.com/abramventures" target="_blank">Facebook</a>
  </h5>
</div>
</footer>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>

